<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcGBmz4jwtlcQa-M7R1l9JzAc0I4g3FoI</string>
	<key>GCM_SENDER_ID</key>
	<string>737898149215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditClone3</string>
	<key>PROJECT_ID</key>
	<string>creddit-by-ss-ltd</string>
	<key>STORAGE_BUCKET</key>
	<string>creddit-by-ss-ltd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737898149215:ios:dd514162df76412ed5f2ea</string>
</dict>
</plist>